<div class="navtab-container">
  <nav mat-tab-nav-bar fxLayout fxLayoutAlign="center center">
      <a mat-tab-link
      routerLink="/"
      routerLinkActive #home="routerLinkActive"
      [active]="home.isActive">
        خانه
      </a>

      <a mat-tab-link
        routerLink="/about"
        routerLinkActive #about="routerLinkActive"
        [active]="about.isActive">
        درباره ما
      </a>

    <a mat-tab-link
      routerLink="/services"
      routerLinkActive #services="routerLinkActive"
      [active]="services.isActive">
        خدمات
      </a>

    <a mat-tab-link
      routerLink="/news"
      routerLinkActive #news="routerLinkActive"
      [active]="news.isActive">
      تازه های تجارت
    </a>

    <a mat-tab-link
      routerLink="/inquiry"
      routerLinkActive #inquiry="routerLinkActive"
      [active]="inquiry.isActive">
      فرم استعلام قیمت
    </a>

    <a mat-tab-link
      routerLink="/jobs"
      routerLinkActive #jobs="routerLinkActive"
      [active]="jobs.isActive">
      همکاری با ما
    </a>

    <a mat-tab-link
      routerLink="/contacts"
      routerLinkActive #contacts="routerLinkActive"
      [active]="contacts.isActive">
      تماس با ما
    </a>
  </nav>
</div>
