<mat-nav-list class="sidenav-list">
  <a mat-list-item routerLink="/signin" href="" (click)="onToggleClose()">
    <mat-icon>stars</mat-icon>
    &nbsp;
    <span>چرا الماس</span>
  </a>
  <a mat-list-item routerLink="/signup" href="" (click)="onToggleClose()">
    <mat-icon>account_balance</mat-icon>
    &nbsp;
    <span>دفاتر ما</span>
  </a>
  <a mat-list-item routerLink="/accommodation" href="" (click)="onToggleClose()">
    <mat-icon>insert_photo</mat-icon>
    &nbsp;
    <span>گالری</span>
  </a>
  <a mat-list-item routerLink="/offers" href="" (click)="onToggleClose()">
    <mat-icon>help</mat-icon>
    &nbsp;
    <span>مشاوره</span>
  </a>
  <a mat-list-item routerLink="/offers" href="" (click)="onToggleClose()">
    <mat-icon>cloud_upload</mat-icon>
    &nbsp;
    <span>ترخیص کالا</span>
  </a>
</mat-nav-list>
