<mat-toolbar>
    <div fxLayout="row" fxLayoutAlign="center center" >
        <div fxLayout="Column" fxShow fxHide.gt-xs>
            <button mat-icon-button (click)="onToggleOpenSideNav()">
                <mat-icon>menu</mat-icon>
              </button>
        </div>
        <div  fxLayout="Column">
            <img src="/assets/images/menu-logo.png">
        </div>
        <div  fxLayout="Column" class="menu-text">
          <div fxLayout="Row" fxHide fxShow.gt-xs>

              <div fxFlex>
                  مشاوره رایگان  |
              </div>

              <div fxFlex>
                  شماره تماس : ۰۹۰۲۴۶۰۰۱۰۴
              </div>
              <div fxFlex>
                  ایمیل: Commerce.almas@gmail.com
              </div>
          </div>

        </div>
    </div>
  </mat-toolbar>
