<mat-toolbar>
    <div fxLayout="Row">
        <div fxLayout="Column">
            <button mat-icon-button (click)="onToggleOpenSideNav()">
                <mat-icon>menu</mat-icon>
              </button>
        </div>
        <div  fxLayout="Column">
            <img src="/assets/images/menu-logo.png">
        </div>
        <div  fxLayout="Column" class="menu-text">
            مشاوره رایگان  | &nbsp;&nbsp;&nbsp;
            شماره تماس : ۰۹۰۲۴۶۰۰۱۰۴ &nbsp;&nbsp;&nbsp;
            ایمیل: Commerce.almas@gmail.com &nbsp;&nbsp;&nbsp;
        </div>
    </div>
  </mat-toolbar>
