<div class="footer">
  <div class="image">

  </div>
  <div class="bottom" fxLayout="Row" fxLayoutAlign="center center">

      <div fxLayout fxLayout="Row">
          <div fxFlex="10%"></div>
          <div fxFlex="80%">

            <div fxLayout="Row">
               <div fxLayout="Column" fxFlex="25%">
                  <h2>درباره الماس ماندگار</h2>
                  شرکت الماس ماندگار با هدف ارائه خدمات تخصصی مشـاوره بازرگانی ، انبـارداری در مبـدا ، واردات کالا از چیـن ، واردات کالا از دبی ، حمـل هوایی و حمـل دریایی کالا و همچنین خدمات Door to Door در سال 1376 تأسیس شد. در طی این سال­ها ، الماس ماندگار توانسته است سهم عمده­ ای از بازار خدمات واردات در صنایع گوناگون از جمله تجهیزات و لوازم جانبی موبایل ، کامپیوتر ، تبلت و دوربین­ های مداربسته و تجهیزات امنیتی را به دست آورد .
               </div>
               <div fxLayout="Column" fxFlex="25%">
                  <h2>اخبار اتاق بازرگانی ایران و چین</h2>
                  <ul>
                      <li>لی خواستار حفظ تجارت آزاد</li>
                      <li>تلاش چین در راستای حذف موانع سرمایه گذاری خارجی</li>
                      <li>انتشار فهرست جدید صنعتی چین برای سرمایه گذاری خارجی</li>
                      <li>موفقیت مناطق آزاد تجاری چین در دستیابی به اهداف راهبردی و توسعه ای</li>
                  </ul>
               </div>
               <div fxLayout="Column" fxFlex="25%">
                  <h2>دفتر مرکزی</h2>
                  <p>
                      ادرس میدان شهدا خیابان هفده شهریور شمالی، کوچه صفارصفت پلاک ۷ واحد ۴
                      تلفن : 33305267
                      فکس : 33305267
                      کد پستی : کد پستی 45313-17146
                      رایانامه : commerce.almas@gmail.com
                  </p>
                </div>
                <div fxLayout="Column" fxFlex="25%">
                    <div fxLayout="Row">
                        <div fxLayout="Column" fxFill fxFlexFill>

                          <button mat-raised-button color="accent">شماره تماس: 33305267</button>
                        </div>
                    </div>
                    <div fxLayout="Row"><br /></div>
                    <div fxLayout="Row" fxLayoutAlign="center center">
                        <button mat-mini-fab aria-label="Facebook!" color="white">
                            <img src="/assets/images/socials/facebook.png">
                        </button> &nbsp;&nbsp;
                        <button mat-mini-fab aria-label="Twitter!" color="white">
                            <img src="/assets/images/socials/twitter.png">
                        </button> &nbsp;&nbsp;
                       <a href="http://telegram.me/almasmc" target="_blank"><button mat-mini-fab aria-label="Telegram!" color="white">
                            <img src="/assets/images/socials/telegram.png">
                        </button></a> &nbsp;&nbsp;
                        <a href="https://www.instagram.com/almasmccom" target="_blank"><button mat-mini-fab aria-label="Instagrm!" color="white">
                            <img src="/assets/images/socials/instagram.png">
                        </button></a> &nbsp;&nbsp;
                        <button mat-mini-fab aria-label="LinkedIn!" color="white">
                            <img src="/assets/images/socials/linkedin.png">
                        </button>
                    </div>
                </div>
            </div>

          </div>
          <div fxFlex="10%"></div>
      </div>



  </div>
</div>
