<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <app-sidenav-list (closeSideNavigation)="sidenav.close()"></app-sidenav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header (SideNavigationToggle)="sidenav.toggle()"></app-header>
    <app-navtabs></app-navtabs>
    <app-home></app-home>
    <br /><br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br /><br />
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>


