<app-slider dir="ltr"></app-slider>
<br />

<div fxLayout fxLayout="Row">
    <div fxFlex="14%"></div>
    <div fxFlex="72%">

        <div fxLayout="Row"  fxLayoutAlign="center center">
            <div fxFlex fxLayout="column">
                <div >
                    <app-trailer-box
                    labelName="خدمات خانه به خانه"
                    height="300px"
                    image="./assets/images/trailer/1.jpg"
                    linkTo="/door-to-door"
                    >
                  </app-trailer-box>
                </div>
              </div>
              <div fxFlex>
                  <app-trailer-box
                  labelName="مترجم چینی زبان مسلط به فارسی"
                  height="300px"
                  image="./assets/images/trailer/2.jpg"
                  linkTo="/translator"
                  >
                </app-trailer-box>
              </div>
              <div fxFlex>
                  <app-trailer-box
                  labelName="حمل و ترخیص کالا از سرار جهان بویژه چین و امارات متحده عربی"
                  height="300px"
                  image="./assets/images/trailer/3.jpg"
                  linkTo="/clearance"
                  >
                </app-trailer-box>
              </div>
              <div fxFlex>
                  <app-trailer-box
                  labelName="منبع یابی و ایجاد ارتباط با تامین کنندگان کشور چین"
                  height="300px"
                  image="./assets/images/trailer/4.jpg"
                  linkTo="/sourcing"
                  >
                </app-trailer-box>
              </div>
        </div>


    </div>
    <div fxFlex="14%"></div>
</div>
<br /><br />
