<app-slider dir="ltr"></app-slider>
<br />

<div fxLayout fxLayout="Row">
    <div fxFlex="10%"></div>
    <div fxFlex="80%" class="main-content">

        <div fxLayout="Row"  fxLayoutAlign="center center">
            <div fxFlex fxLayout="column">
                <div >
                    <app-trailer-box
                    labelName="خدمات خانه به خانه"
                    height="300px"
                    image="./assets/images/trailer/1.jpg"
                    linkTo="/door-to-door"
                    >
                  </app-trailer-box>
                </div>
              </div>
              <div fxFlex>
                  <app-trailer-box
                  labelName="مترجم چینی زبان مسلط به فارسی"
                  height="300px"
                  image="./assets/images/trailer/2.jpg"
                  linkTo="/translator"
                  >
                </app-trailer-box>
              </div>
              <div fxFlex>
                  <app-trailer-box
                  labelName="حمل و ترخیص کالا از سرار جهان بویژه چین و امارات متحده عربی"
                  height="300px"
                  image="./assets/images/trailer/3.jpg"
                  linkTo="/clearance"
                  >
                </app-trailer-box>
              </div>

              <div fxFlex>


                <app-trailer-box
                  labelName="منبع یابی و ایجاد ارتباط با تامین کنندگان کشور چین"
                  height="300px"
                  image="./assets/images/trailer/4.jpg"
                  linkTo="/sourcing"
                  >
                </app-trailer-box>

              </div>
              <br />

        </div>

        <div>
          <br />
            <h2 style='text-align: center'>شرکت الماس ماندگار کاسپین </h2>
            <hr class="tiny-line" />
            <br /><br />
            <mat-tab-group>
                <mat-tab>
                  <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">person</mat-icon>
                    درباره ما
                  </ng-template>
                  <p class='tab-padding'>
                      شرکت الماس ماندگار کاسپین با هدف ارائه خدمات تخصصی بازرگانی، حمل و ترخیص کالا در سال ۱۳۷۶ تأسیس شد. در طی این سال­ها، سپاهان همراه توانسته است سهم عمده ­ای از بازار خدمات واردات در صنایع گوناگون از جمله تجهیزات و لوازم جانبی موبایل، کامپیوتر، تبلت و دوربین ­های مداربسته و تجهیزات امنیتی را به دست آورد.
                  </p>
                </mat-tab>

                <mat-tab>
                  <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">airplanemode_active</mat-icon>
                    حمل هوایی
                  </ng-template>
                  <p class='tab-padding'>
                      سرعت و دقت دو ویژگی است که همواره در ارائه خدمات حمل هوایی مد نظر شرکت الماس ماندگار کاسپین است. از این روی سعی ما هواره بر این بوده است که کالای مشتریان را در زمان مورد نیاز، در مقصد به آنان تحویل دهیم. ما به بازرگانان و واردکنندگان عزیز ایرانی این اطمینان را می دهیم که کالای شما را در حمل هوایی با دقت و حساسیت مخصوص حمل هوایی به دست شما برسانیم.
                  </p>
                </mat-tab>

                <mat-tab>
                  <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">waves</mat-icon>
                    حمل دریایی
                  </ng-template>

                  <p class='tab-padding'>
                      حمل دریایی ، از خدمات ویژه شرکت الماس ماندگار کاسپین است. شرکت الماس ماندگار کاسپین با کادری مجرب و حرفه ای تمامی خدمات حمل دریایی را مطابق با نیاز هر مشتری انجام می دهد. با توجه به اینکه شرکت الماس ماندگار کاسپین، خدمات door to door ارائه می دهد، در نتیجه حمل دریایی جزئی از زنجیره کاری شرکت است که با تجربه فراوان پرسنل این شرکت، همواره مشتریان شاهد خدمات حرفه ای مجموعه شرکت الماس ماندگار کاسپین هستند.
                  </p>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                      <mat-icon class="example-tab-icon">attach_money</mat-icon>
                      محاسبه
                    </ng-template>

                    <p class='tab-padding'>
                        بازرگانان برای وقت خود ارزش فراوانی قائل اند. شما می توانید از طریق فرم های الکترونیک درخواست های خود را به کارشناسان شرکت الماس ماندگار کاسپین اعلام نمایید. با پر کردن فرم استعلام قیمت، کارشناسان ما در سریع ترین زمان درخواست استعلام قیمت شما را بررسی کارشناسی کرده و کمترین نرخ و سریع ترین زمان تحویل کالا را به شما اطلاع می دهند.
                    </p>
                  </mat-tab>
                  <mat-tab>
                      <ng-template mat-tab-label>
                        <mat-icon class="example-tab-icon">home</mat-icon>
                        دفاتر ما
                      </ng-template>

                      <p class='tab-padding'>
                          اطلاعات دفاتر اینجا قرار میگیرد
                      </p>
                    </mat-tab>
              </mat-tab-group>
              <br /><br />
              <br /><br />
        </div>
    </div>
    <div fxFlex="10%"></div>
</div>
<br /><br />
<br /><br />
