<div fxLayout fxLayout="Row">
    <div fxFlex="10%"></div>
    <div fxFlex="80%">

        <h2>چرا سپاهان همراه ؟
          </h2>
        <h3>از سال ۱۳۷۶ تا کنون همراه شما در تجارت بوده ایم

          </h3>
        <p>
        ۲۰ سال سابقه در زمینه واردات،صادرات و ترخیص کالا از گمرکات کشور باعث شده تا شرکت سپاهان همراه بتواند سهم عمده ای از واردات قطعات و لوازم جانبی تلفن همراه، تجهیزات الکترونیکی و دوربین مداربسته در کشور را به دست آورد.

        دفاتر بین المللی در چین و دبی

        شرکت سپاهان همراه با دایر نمودن شعب مختلف در دبی و گوانجو آماده ارائه انواع خدمات بازرگانی از جمله، مشاوره خرید، مشاوره حقوقی، اعتبار سنجی، مترجم فارسی زبان و ارسال منظم بار و خرده بار به صورت دریایی و هوایی  است.

        نیروی انسانی متخصص

        بهره برداری از ۲۰۰ متخصص تحصیل کرده در شهرهای تهران، دبی، گوانگجو و استفاده از آخرین مقررات بین المللی حمل و ترخیص کالا سبب شده تا این کارشناسان تجارب کافی برای ارائه خدمات بازرگانی به شما عزیزان را کسب کنند.


        </p>

    </div>
    <div fxFlex="10%"></div>
</div>

