<div fxLayout fxLayout="Row">
  <div fxFlex="14%"></div>
  <div>
    <h3>
      چرا الماس ماندگار کاسپین ؟
      </h3>
      شرکت الماس ماندگار کاسپین با هدف ارائه خدمات تخصصی بازرگانی (واردات و صادرات)، حمل و ترخیص کالا با بیش از یک دهه تجربه و داشتن تیم مجرب داخلی و خارجی در تلاش است تا نیاز مشتریان گرامی در حوزه های مختلف را تامین نماید.
      اهم فعالیت های این مجموعه به شرح زیر می باشد.
      <ol>
        <li>واردات انواع کالاهای مصرفی (محصول نهایی) </li>
        <li>واردات تخصصی مواد اولیه تولیدی و ماشین آلات با در نظر گرفتن تمام جزئیات تخصصی مرتبط با تولید </li>
        <li>ترخیص کالا از گمرکات کشور به خصوص بندرعباس، بوشهر و تهران</li>
        <li>مشاوره بازرگانی، گمرکی و بانکی</li>
        <li>مشاوره در زمینه حوالجات</li>
        <li>مذاکره و اخذ نمایندگی از شرکت های بزرگ آسیایی و اروپایی</li>
        <li>منبع یابی قوی و گسترده در کمترین زمان</li>
        <li>دریافت مجوزهای لازم از سازمان های مختلف جهت واردات و صادرات کالا</li>
      </ol>


  </div>
  <div fxFlex="14%"></div>
</div>
